<div [formGroup]="addressFormGroup">
  <div class="form-group">
    <label for="line1_{{uniqueId}}" class="col-sm-2 control-label">Line 1:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="line1_{{uniqueId}}" placeholder="Address line 1" name="AddressLine1" formControlName="addressLine1">
    </div>
  </div>
  <div class="form-group">
    <label for="line2_{{uniqueId}}" class="col-sm-2 control-label">Line 2:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="line2_{{uniqueId}}" placeholder="Address line 2" name="AddressLine2" formControlName="addressLine2">
    </div>
  </div>
  <div class="form-group">
    <label for="city_{{uniqueId}}" class="col-sm-2 control-label">City:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="city_{{uniqueId}}" placeholder="City" name="City" formControlName="city">
    </div>
    <label for="state_{{uniqueId}}" class="col-sm-2 control-label">State:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="state_{{uniqueId}}" placeholder="State" name="State" formControlName="state">
    </div>
    <label for="postalCode_{{uniqueId}}" class="col-sm-2 control-label">Zip:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="postalCode_{{uniqueId}}" placeholder="Zip" name="PostalCode" formControlName="postalCode">
      <div id="postalCodeErrors_{{uniqueId}}" ngxErrors="postalCode" ngxError="required" when="dirty">
        Postal code is required
      </div>
    </div>
  </div>
</div>