<div class="col-md-9 col-md-offset-1">
	<form [formGroup]="checkoutFormGroup" (ngSubmit)="onFormSubmitted()">
		<div class="panel panel-default">
			<div class="panel-heading">Customer Information</div>
			<div class="panel-body" formGroupName="customer">
				<div class="form-horizontal" role="form">
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="email" placeholder="Email" name="email" formControlName="email">
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">First Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="firstname" placeholder="First Name" name="firstname" formControlName="firstName">
						</div>
					</div>
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label">Last Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="lastname" placeholder="Last Name" name="lastname" formControlName="lastName">
						</div>
					</div>
					<div class="form-group">
						<label for="phonenumber" class="col-sm-2 control-label">Phone Number</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="phonenumber" placeholder="Phone Number" name="phonenumber" formControlName="phoneNumber">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Address Information</div>
			<div class="panel-body">
				<div class="col-lg-6">
					Billing Address
					<hr />
					<div class="form-horizontal" role="form">
						<app-address formControlName="billingAddress"></app-address>
					</div>
				</div>
				<div class="col-lg-6">
					Shipping Address
					<hr />
					<div class="form-horizontal" role="form">
						<app-address formControlName="shippingAddress"></app-address>
						<div ngxErrors="shippingAddress" ngxError="address" when="dirty">
							Shipping address is invalid
						</div>
					</div>
				</div>
			</div>
		</div>
		<a routerLink="/shopping/cart" class="pointer btn btn-danger">Back</a>
		<button type="submit" class="pointer btn btn-success pull-right" [disabled]="orderIsProcessing">Place Order</button>
	</form>
</div>